.span8
  - if params[:scope] && params[:scope] == 'all'
    %h1 All Talks
  - else
    %h1 Recent Talks

  = render 'pagination_links'

  = render @talks

  = render 'pagination_links'
 
.span4
  %p
    = link_to 'Submit a Talk', new_talk_path, class: 'btn btn-primary btn-large'

