.hero-unit.center-text
  %h1.intro-header ModCloth Design Reviews
  %p{style: 'margin: 2em 0' }
    = link_to 'Sign in with Yammer', '/users/auth/yammer', class: 'btn btn-primary btn-large'
    - unless Rails.env.production?
      or
      = link_to 'Sign in with Developer', '/users/auth/developer', class: 'btn btn-primary btn-large'
